<header class="">
  <div class="row">
    <div class="col text-left">
      <strong>Ticketing</strong>
      <%= link_to 'Projects', projects_path %>
      |
      <%= link_to 'Tickets', tickets_path %>
      |
      <%= link_to 'Tags', tags_path %>
    </div>
    <% if logged_in? %>
      <div class="col text-right">
        <%= "Signed in as #{current_user.name}" %>
        <%= link_to 'Logout', logout_path, method: :delete %>
      </div>
    <% else %>
      <div class="col text-right">
        <%= link_to 'Login', login_path %> or <%= link_to 'Signup', signup_path %>
      </div>
    <% end %>
  </div>
</header>
<br />
<h3><%= title %></h3>
