<%= form_with(url: tickets_path, local: true, class: "d-flex justify-content-around", method: :get) do |f| %>
<div class="form-group row">
  <label for="project">Show Tickets from
  </label>
  <%= f.collection_select(:project, Project.all, :id, :title, {prompt: "All Projects"}, { class: "custom-select form"}) %>
</div>
<div class="form-group row">
  <label for="status">
    with status
  </label>
  <%= select_tag :status, options_for_select(Ticket::STATUSES), {class: 'form-control', prompt: "Any Status"} %>

</div>
<div class="form-group row">
  <label for="tag">
    tagged
  </label>
  <%= f.collection_select(:tag, Tag.all, :id, :title, {prompt: "-"}, { class: "custom-select form"}) %>
</div>
<%= button_tag 'Update', name: nil, class: "btn btn-primary"%>
|
<%= link_to 'Clear Filter', tickets_path%>
<% end %>
