<%= form_with(model: @ticket, local: true) do |f| %>
  <div class="form-group">
    <%= f.label :project_id %>
    <%= f.collection_select :project_id, Project.all, :id, :title, {class: 'form-control'}%>
  </div>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control'%>
  </div>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control'%>
  </div>
  <!-- TODO: fix tags and assignee -->
  <div class="form-group">
    <%= f.label :status %>
    <%= select_tag :status, options_for_select(Ticket::STATUSES), {class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.label :assignee %>
    <%= f.collection_select(:assignee_id, User.all, :id, :name,
      {prompt: 'Make your selection from the list below (can be empty)'},
      { class: "custom-select"}) %>
  </div>
  <div class="form-group">
    <%= f.label :tags %>
    <%= f.collection_select(:tag_ids, Tag.all, :id, :title,
      {prompt: 'Make your selection from the list below (can be empty)'},
      {multiple: true, class: "custom-select"}) %>
  </div>

  <%= f.submit class: "btn btn-primary"%>
<% end %>
