<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Assignee</th>
      <th>Status</th>
      <th>Tags</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @tickets.each.with_index do |ticket, index| %>
      <tr>
        <td><%= link_to ticket.title, ticket %></td>
        <td>user_name</td>
        <td><%= ticket.status %></td>
        <td><%= render ticket.tags, last_tag: ticket.tags[-1]%>
        </td>
        <% if logged_in? %>
          <td>
            <%= link_to 'Edit', edit_ticket_path(ticket) %>
             |
            <%= link_to 'Delete', ticket, method: :delete, data: { confirm: "Are you sure?" } %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
