<%= render 'shared/header', title: @ticket.title %>

<!-- TODO: add tags -->
<h3>Tags: </h3>

<% if logged_in? %>
  <%= link_to 'Edit', edit_ticket_path %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Status</th>
      <th scope="col">Creator</th>
      <th scope="col">Assignee</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @ticket.status %></td>
      <!-- TODO: associate Assignee and User -->
      <td><%= User.find(@ticket.user_id).name%></td>
      <!-- TODO: associate Assignee and User -->
      <td><%= @ticket.assignee_id ? User.find(@ticket.assignee_id).name : '-' %></td>

    </tr>
  </tbody>
</table>

<h3>Comments: </h3>
