<%= render 'shared/header', title: "Editing #{@project.title}"  %>
<%= render 'shared/errors', object: @project %>
<%= render 'form' %>
<p>
  <%= link_to "Show", @project %> | <%= link_to "Back", projects_path %>
</p>
